*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
#container{
    margin: 0 3.3vw;
}
#nav{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
    border-bottom: 4px solid #000;
}
#nav-left{
    margin-top: 3.6vw;
    background-color: #FBCD3C;
}
#nav-left h3{
   font-size: 1.3vw;
   font-weight: 700;
}
#nav-left h3 span{
    font-weight: 500;
    text-transform: uppercase;
}
#nav-center{
    line-height: 1.8vw;
    letter-spacing: 0.2vw;
}
#nav-center h1{
    font-weight: 700;
    font-size: 3vw
}
#nav-center h1 span{
    font-size: 1.9vw ;
    margin-left: 4vw;
    font-weight: 500;
}
#nav-right{
    margin-top: 3.6vw;
}
#nav-right-text{
    display: flex;
}
#icons{
    text-align: center;
}
#icons i{
    font-size: 1.5vw;
    width: fit-content;
    background-color: #FBCD3C;
}
#nav-right-text h3{
    font-size: 1.3vw;
    font-weight: 500;
 }
 #categories{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #categories h2{
    font-size: 1.5vw;
    margin-right: 4vw;
    font-weight: 500;
 }

  #Heroimg{
    width: 100%;
    height: 73vh;
  }
  #Heroimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  #content{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    padding: 1vw 0;
    margin-top: 1.5vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
  }
  #content #item1{
    width: 25%;
    height: 100%;
    border-right: 1px solid #000;
    padding-right: 0.5vw;
  }
  #content #item1 h1{
    font-family: monument;
    line-height:5vh ;
    font-size: 2.4vw;
    font-weight: 600;
  }
  #content #item1 #date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
  }
  #content #item1 #date h3{
    font-size: 1.2vw;
    font-weight: 400;
  }
  #content #item1 #date #line{
    width: 50%;
    height: 0.3vh;
    background-color: black;
  }
  #content #item1 #item1img{
    width: 100%;
    height: 52vh;
  }
  #content #item1 #item1img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  #content #item1 #colorbox{
    width: 100%;
    height: 10vh;
    background-color: #333333;
  }
  #content #item1 #colorbox h3{
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
    color: #fff;
  }
  #content #item1 #colorbox h3 span{
    color: #9b8226;
  }
  #content #item1 p{
    font-size: 1vw;
    line-height: 2.5vh;
    text-align: justify;
    width: 90%;
  }
  #content #item2{
    width: 25%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 0 0.5vw;
  }
  #content #item2 h1{
    line-height:6vh ;
    font-size: 3vw;
    font-weight: 700;
  }
  #content #item2 #date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    margin-top: 1vh;
  }
  #content #item2 #date h3{
    font-size: 1.2vw;
    font-weight: 400;
  }
  #content #item2 #date #line{
    width: 50%;
    height: 0.3vh;
    background-color: black;
  }
  #content #item2 p{
    font-size: 1vw;
    line-height: 2.5vh;
    text-align: justify;
    width: 90%;
    margin-top: 1vh;
  }
  #content #item2 #colorbox{
    width: 100%;
    height: 10vh;
    background-color: #333333;
  }
  #content #item2 #colorbox h3{
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
    color: #fff;
  }
  #content #item2 #colorbox h3 span{
    color: #9b8226;
  }
  #content #item2 #item2img{
    width: 100%;
    height:41vh;
  }
  #content #item2 #item2img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  #content #item3{
    width: 25%;
    height: 100%;
    border-right: 1px solid #000;
    padding:0 0.5vw;
  }
  #content #item3 #item3img{
    width: 100%;
    height:50vh;
  }
  #content #item3 #item3img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #content #item3 h1{
    font-family: monument;
    line-height: 4vh;
    font-size: 2vw;
    font-weight: 800;
  }
  #content #item3 #date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    margin-top: 1vh;
  }
  #content #item3 #date h3{
    font-size: 1.2vw;
    font-weight: 400;
  }
  #content #item3 #date #line{
    width: 50%;
    height: 0.3vh;
    background-color: black;
  }
  #content #item3 p{
    font-size: 1vw;
    line-height: 2.5vh;
    text-align: justify;
    width: 90%;
    margin-top: 1vh;
  }
  #content #item3 #colorbox{
    width: 100%;
    height: 10vh;
    background-color: #333333;
  }
  #content #item3 #colorbox h3{
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
    color: #fff;
  }
  #content #item3 #colorbox h3 span{
    color: #9b8226;
  }
  #content #item4{
    width: 25%;
    height: 100%;
    padding: 0 0.5vw;
  }
  #content #item4 h1{
    line-height:6vh ;
    font-size: 3vw;
    font-weight: 700;
  }
  #content #item4 #date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    margin-top: 1vh;
  }
  #content #item4 #date h3{
    font-size: 1.2vw;
    font-weight: 400;
  }
  #content #item4 #date #line{
    width: 50%;
    height: 0.3vh;
    background-color: black;
  }
  #content #item4 #colorbox{
    width: 100%;
    height: 10vh;
    background-color: #333333;
  }
  #content #item4 #colorbox h3{
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
    color: #fff;
  }
  #content #item4 #colorbox h3 span{
    color: #9b8226;
  }
  #content #item4 p{
    font-size: 1vw;
    line-height: 2.5vh;
    text-align: justify;
    width: 90%;
    margin-top: 1vh;
  }
  #content #item4 #item4img{
    width: 100%;
    height:44vh;
  }
  #content #item4 #item4img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #content2{
    width: 100%;
    height: 30vh;
    
  }